.table2json table {
    position: relative;
}

.table2json-wrap {
    position: relative;
}

.table2json .export-button {
    padding: 4px 8px;
    background: #fff;
    border: none;
    color: #000;
    border: 2px solid currentColor;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    min-width: 80px;
}

.table2json .export-button:hover {
    color: rgb(0, 95, 204);
}

.table2json .export-button-wrap {
    margin-bottom: 4px;
}

.table2json .export-button + .export-button {
    margin-left: 8px;
}